html, body {
    background-color: #16182f;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#menuToggle {
    display: block;
    position: relative;
    top: -1100px;
    left: 50px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}

#menuToggle p {
    text-decoration: none;
    color: #232323;
    transition: color 0.3s ease;
}

#menuToggle a:hover {
    color: tomato;
}


#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
}

#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: #cdcdcd;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}


#menuToggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
}


#menuToggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}


#menuToggle input:checked~span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}


#menu {
    position: absolute;
    min-width: 10px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 100px;

    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    

    transform-origin: 0% 0%;
    transform: translate(-100%, 0);

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
    padding: 10px;
    padding-left: 50px;
    font-size: 2vh;
}


#menuToggle input:checked~ul {
    transform: none;
}

#nav{
    padding-top: 20%;
    
}

.cadas{
    border: 1px solid white;
    border-radius: 5px;
    padding: 8px;
    color: white;
    background-color: #16182f;
}

.cadas:hover{
    border: 1px solid #16182f;
    border-radius: 5px;
    padding: 8px;
    color: black;
    background-color: white;
    cursor: pointer;
}

#navbarDropdown{
    color: white;
}

.conteudo{
    background-color: #16182f;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-rows: 1fr 4fr 1fr 1fr 1fr;
}

.navConteudo{
    grid-row-start: 1;
    grid-row-end: 1;
}

.footer{
    grid-row-start: 5;
    grid-row-end: 5;
}

.partHome{
    grid-row-start: 2;
    grid-row-end: 2;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 0.5fr 1fr 0.5fr;
}

.divHome{
    grid-column-start: 2;
    grid-column-end: 2;
}

.partHome1{
    grid-row-start: 4;
    grid-row-end: 4;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1fr;
}

.celular{
    grid-column-start: 1;
    grid-column-end: 1;
}

.msgnCel{
    grid-column-start: 2;
    grid-column-end: 2;
}

.btnLogin:hover{
    background-color: #16182f;
    color: white;
    cursor: pointer;
}

.cadastroModal{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

.divNome{
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 3;
}

.divCpf{
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 1;
}

.divDataNasc{
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
}

.divEndereco{
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 1;
}

.divTelefone{
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
}

.divSenhaAcesso{
    grid-row-start: 4;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 1;
}

.divSenhaLogin{
    grid-row-start: 4;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
}

.nome1{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

#inputNome{
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
}

.cpf1{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

#inputCpf{
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
}

.dataNasc1{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

#inputNasc{
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
}

.endereco1{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

#inputEndereco{
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
}

.telefone1{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

#inputTelefone{
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
}

.acesso1{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

#inputAcesso{
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
}

.login1{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

#inputLogin{
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
}